<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="combres" type="Combres.ConfigSectionSetting, Combres" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="RedisExchangeHosts" connectionString="127.0.0.1:6379,allowadmin=true" />
    <add name="nicklu2Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1234qwer;persistsecurityinfo=True;database=nicklu2&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- cookies  多域名 无法改这里。-->
    <add key="hostName" value="lucomputers.com" />
    <add key="fullHost" value="http://new.lu.com/" />
    <!-- Email Send info -->
    <add key="mailUserName" value="sales@lucomputers.com" />
    <add key="mailPassword" value="5calls2day" />
    <add key="mailServer" value="p3smtpout.secureserver.net" />
    <add key="RedisKey" value="LU.Web." />
    <!-- 1： 页面友好，不显示错误； 2： 显示错误 -->
    <add key="friendPage" value="0" />
    <add key="FileCachePath" value="C:\Workspaces\MyProjects\LUComputer\OldSite\SiteNew\FileCaches\" />
    <add key="IsFileCache" value="1" />
    <add key="CacheFilePath" value="C:\Workspaces\MyProjects\LUComputer\OldSite\SiteNew\Computer\" />
    <add key="CombresSectionName" value="combres" />
  </appSettings>
  <paypal>
    <settings>
      <!-- The Sandbox API endpoint -->
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/nvp" />
      <!-- The Live API endpoint-->
      <!--<add name="endpoint" value="https://api-3t.paypal.com/nvp" />-->
      <!-- Instant Payment Notification endpoint-->
      <!--<add name="IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />-->
      <!--LocalTunnel Host Url-->
      <add name="IPNListenerUrl" value="https://paypalipntomato.pagekite.me/IPNListener.aspx" />
      <!--Timeout-->
      <add name="connectionTimeout" value="360000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="3" />
      <!-- IP address-->
      <add name="IPAddress" value="127.0.0.1" />
      <!-- URL to which the buyer's browser is returned after choosing to pay with PayPal-->
      <add name="ReturnUrl" value="http://new.lu.com/CheckOutPaypalCallBack.aspx" />
      <!-- URL to which the buyer is returned if the buyer does not approve the use of PayPal to pay you-->
      <add name="CancelUrl" value="http://new.lu.com/CheckOutPaypalCancelUrl.aspx" />
      <!-- A URL to your logo image. Use a valid graphics format, such as .gif, .jpg, or .png-->
      <add name="LogoUrl" value="https://lucomputers.com/images/logo1.png" />
      <!-- Merchant Email-->
      <!--<add name="SellerEmail" value="paypal@lucomputers.com" />-->
      <add name="SellerEmail" value="qiozi-facilitator-1@msn.com" />
      <!-- In-Context Express Checkout URLs for Sandbox. The user must be redirected to in order to login and approve some payment actions. -->
      <!-- Sandbox URL-->
      <add name="RedirectUrl" value="https://www.sandbox.paypal.com/checkoutnow?token=" />
      <!-- Live URL -->
      <!--<add name="RedirectUrl" value="https://www.paypal.com/checkoutnow?token=" />-->
      <!-- Express Checkout URLs for Sandbox. The user must be redirected to in order to login and approve some payment actions. -->
      <!-- Sandbox URL-->
      <!-- <add name="RedirectUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token"/>-->
      <!-- Live URL -->
      <!-- <add name="RedirectUrl" value="https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token="/>-->
      <!-- BN code to track all transactions-->
      <add name="SBN_CODE" value="PP-DemoPortal-EC-IC-csharp" />
    </settings>
    <accounts>
      <!-- Merchant username, password, signature -->
      <!--<account apiUsername="paypal_api1.lucomputers.com" apiPassword="C9U3KMXTK9KCQHRQ" apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31A9E2xhX3uINew7veh1Tw8FH2cP8J" />-->
      <account apiUsername="qiozi-facilitator-1_api1.msn.com" apiPassword="37DQAVQDF5VTTVPV" apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31Al8QUGLBQ-EyeLUPXJ8cnk9cwdjn" />
      <!-- Uncomment the below configuration if you want to use certificate file instead of API Signature-->
      <!-- <account apiUsername="certuser_biz_api1.paypal.com" apiPassword="D6JNKKULHN3G5B8A" applicationId="APP-80W284485P519543T" apiCertificate="C:\PayPal_SDKs\sdk-core-dotnet\UnitTest\Resources\sdk-cert.p12" privateKeyPassword="password"/>-->
    </accounts>
  </paypal>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,*,%,:" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="MySql.Data, Version=6.10.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="Combres" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
    <customErrors defaultRedirect="GenericError.htm" mode="Off">
      <error statusCode="500" redirect="/mycustompage.htm" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <!--<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />-->
      <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
      <!--remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" prefixLanguageFilePath="" path="/mycustompage.html" responseMode="ExecuteURL" /-->
    </httpErrors>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTPS_HOST}" pattern="^(localhost)" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}:443/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>-->
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="api" enabled="false">
          <match url="^/api/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^new.lu.com$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:88/{R:1}" />
        </rule>
        <rule name="host" enabled="false">
          <match url="^api/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^new.lu.com$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:88/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
    <!--<rewrite>
            <rules>
                <rule name="HTTP TO HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>-->
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="cnapi2">
          <match url="^cnapi/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^new.lu.com$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:82/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.7.0" newVersion="6.10.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dotless minifyCss="false" cache="true" web="false" />
  <combres definitionUrl="~/App_Data/combres.xml" />
</configuration>