<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="beginHour" value="6"/>
    <add key="endHour" value="10"/>
    <add key="intervalSecond" value="500"/>
    <!--<add key="tmpSavePath" value="C:\Documents and Settings\All Users\Desktop"/>-->
    <add key="tmpSavePath" value="C:\Users\WU\Documents\PriceStore\"/>
    <add key="AutoRun" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="LU" connectionString="Server=localhost;Database=nicklu2;User ID=root;Password=1234qwer;allow zero datetime=true;" />
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
