<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="LU" connectionString="Server=LuMySql;Database=nicklu2;User ID=root;Password=1234qwer;allow zero datetime=true;" />
    <add name="nicklu2Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=LuMySql;user id=root;password=1234qwer;persistsecurityinfo=True;database=nicklu2&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="eBayBaseOfferEnablePart" value="1" />
    <add key="eBayBaseOfferEnableSystem" value="0" />
    <add key="cookiesDomain" value=".lucomputers.com" />
    <add key="otherManageSite" value="manager.lucomputers.com" />
    <add key="defaultPassword" value="123456" />
    <add key="sizeXXL" value="5" />
    <add key="groundCompany" value="4" />
    <add key="groundCompanyTotal" value="900" />
    <add key="out_status" value="12" />
    <add key="pay_method_card_id" value="14" />
    <add key="tax_execmtion_state" value="8" />
    <add key="tax_execmtion_state_save_money" value="8" />
    <add key="army_state" value="[65][66][67]" />
    <add key="army_shipping_company" value="8" />
    <add key="is_card_rate" value="1.035" />
    <add key="pay_method_pick_up_ids" value="[21][22][23][24]" />
    <add key="pay_method_pick_up_id_default" value="21" />
    <add key="logo_image_path" value="/pro_img/logo/" />
    <add key="path_pdf_order" value="/order_pdf/" />
    <add key="tax_hst" value="[4][5][6][8][2]" />
    <!-- 发票的头两位-->
    <add key="invoice_head" value="23" />
    <!-- 发票上客户编号前两位 -->
    <add key="invoice_customer_head" value="88" />
    <!-- Email Send info -->
    <add key="mailUserName" value="sales@lucomputers.com" />
    <add key="mailPassword" value="5calls2day" />
    <add key="mailServer" value="p3smtpout.secureserver.net" />
    <!-- update excel file store path-->
    <add key="update_product_data_excel_path" value="~/q_admin/product_update_excel_file_store/" />
    <!-- store Product Rebate Pdf file path-->
    <add key="StoreProductRebatePdfPath" value="~/pro_img/rebate_pdf/" />
    <!-- back order status END-->
    <add key="back_order_status" value="6,7" />
    <!--pay method use card rate-->
    <add key="pay_method_use_card_rate" value="[14][15][20][25][21][24]" />
    <!--paypay method-->
    <add key="pay_method_paypal" value="15" />
    <!-- login redirect path-->
    <add key="login_redirect_path" value="sales_index.aspx?menu_id=2" />
    <!-- order list top count default value -->
    <add key="order_list_top_count_default_value" value="100" />
    <!-- system product sku length-->
    <add key="system_product_sku_length" value="8" />
    <!-- default order list record count-->
    <add key="default_order_list_record_count" value="50" />
    <add key="http_domain" value="https://www.lucomputers.com/" />
    <add key="Part_Comment_Path" value="C:\Workspaces\Web\Part_Comment\" />
    <add key="notStatOrderStatus" value="6,5" />
    <add key="notStatOrderStatus_back_status" value="6,34" />
    <!-- new order status -->
    <add key="new_order_status" value="8" />
    <add key="porder_order_status" value="2,5,6,7" />
    <!-- watch price other inc ids-->
    <add key="other_inc_id_watch" value="2,7,8,15,100,101,104,105,106" />
    <add key="sale_promotion_compay_id" value="[9][10]" />
    <add key="order_complete" value="[2][7]" />
    <add key="other_category_id" value="339" />
    <add key="part_img_path" value="/pro_img/components/" />
    <add key="ProImgBasePath" value="C:\Workspaces\MyProjects\LUComputer\OldSite\Site\pro_img\" />
    <add key="do_not_watch_category_ids" value="216,201,332" />
    <add key="pay_method_credit_ids" value="[25][14]" />
    <!-- begin ebay site -->
    <add key="EbayDevID" value="136386be-a90b-42b1-90c9-7f0d57d658b6" />
    <add key="EbayAppID" value="wuth03d43-1c70-4b36-8e2d-1b247226ad1" />
    <add key="EbayCertID" value="f17425d7-d649-400a-b552-8c69b4f0e38e" />
    <add key="EbayServerUrl" value="https://api.ebay.com/ws/api.dll" />
    <!-- For Production set the ServerURL value to https://api.ebay.com/wsapi-->
    <add key="EbayUserToken" value="AgAAAA**AQAAAA**aAAAAA**Ab5wWQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFmIKhAJSFpQudj6x9nY+seQ**KdYAAA**AAMAAA**mpLVBuhtPAxQQjRGW9cwMKrV/URoLgi8hrq2c5sjXvoQCbaeSfPXpB4QJneQgTe4564LO/74kV/MbtPwxjENNmlxhr/cny4iTVcMj7rHXCVyQJNkx01LhGqNyM+elg3p6JSCglPgvc5C9I/VCJj7Hq/Gt1OhAO41qysz6nURKGa+zmwMA9FsN/AYoTsAH4QFIDyJGZrjxqNYwfdvRW26MVnxgNDHI86RPxmUY0gtc2LIYDsN+VXSDyrnBXgp4QbTDiFViYHBaQ5hyX6SoNOsN7zLKiFFRFcWyeHT3A/Zp9eUKlYjMUYevHR9lqwnWsMqtJ0bvPEYuntwU1SvLjnTaD617cXR5ZwS3YEZ1wTibYTWjmq8O0QwbOBHiYwySjMlt2HgK3P6uqL6llrVCzW8l5/Wc+Hn1dW0dZesJClbwVbvzTGkt6nj6RU1jxVF8Ej/SSjKKEfke/az5pcWUruqVNWtUI5Sm2CKJhDidxySA8TAopASSszqtkyzLcaTuTlJsZ/J15AP3gC4YgBjnVFtbKrrjVRbGm3wh0M29meWvk7Jp9YCBZqf3MJ0drjUyrt2k5I6EJqgv5DiMdAQq7072uUYgYSneRTQA/qc8zGAQQ8sY+q4287d0LLuiRrpUh1k1TEbSn5YKimThzJ9M5bwoyJ+JgZ2pjWxiZHzqL/kuVVUT+p9SrEvaFBRfgFQZAoWsmAlg/0hwRqgXovhUQyW9BLiphmR1rPmiq0QkYxzr/cLFv/2+rcDW/VQ8Y23GmNh" />
    <add key="EbaySiteID" value="2" />
    <add key="API_COMPATIBILITY_LEVEL" value="737" />
    <add key="ebayMasterXmlPath" value="/soft_img/eBayXml/" />
    <add key="ebayAPIUpdateDateDiff" value="2" />
    <add key="ebayFlashComboboxQuantitys" value="[10][15][16][17][18][19][20][21]" />
    <!-- end   ebay site-->
    <add key="notShowOnSysListSKUs" value="[16684][1049]" />
    <add key="eBay_Page_View_Flash_Is_New" value="0" />
    <!-- ebay system templete ID , new 2011-1-29  -->
    <add key="ebay_templete_id_new" value="41" />
    <add key="ebay_templete_id_new_sub" value="42" />
    <!--add key="ebay_templete_id_barebone" value="43"-->
    <add key="ebay_templete_id_barebone" value="11" />
    <add key="ebay_templete_id_complete_system_Sub" value="44" />
    <add key="ebay_part_default_id" value="9" />
    <add key="PartCategoryIsNotebook" value="350" />
    <add key="eBaySysSavePriceHistory" value="0" />
    <add key="relation_motherboard_video_group_id" value="349" />
    <add key="relation_motherboard_audio_group_id" value="351" />
    <add key="relation_motherboard_network_group_id" value="350" />
    <add key="part_motherboard_ID" value="31" />
    <add key="eBayModifyPartQuantity" value="0" />
    <add key="ebayAccessoriesPrice" value="-1" />
    <add key="ebayBasicShippingFee" value="1000" />
    <!-- 1： 页面友好，不显示错误； 2： 显示错误 -->
    <add key="friendPage" value="1" />
    <!-- 系统用机箱关联 -->
    <add key="SysRelatedCase" value="1" />
    <!-- 系统用内存关联 -->
    <add key="SysRelatedMemory" value="1" />
    <!-- 系统用显卡关联 -->
    <add key="SysRelatedVideoCard" value="1" />
    <!-- 系统用SSD关联 -->
    <add key="SysRelatedSSD" value="1" />
    <!-- 系统用HDD关联 -->
    <add key="SysRelatedHDD" value="1" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="1200" maxRequestLength="1024000" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="MySql.Data, Version=6.10.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="https://www.lucomputers.com/404.html" />
      <error statusCode="404" redirect="https://www.lucomputers.com/404.html" />
    </customErrors>
    <pages styleSheetTheme="" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="https://www.lucomputers.com/404.html" responseMode="Redirect" />
    </httpErrors>
        <rewrite>
            <rules>
                <rule name="images" enabled="false">
                    <match url="^pro_img/(.*)" />
                    <action type="Rewrite" url="http://50.62.56.39/{R:0}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="sales@lucomputers.com">
        <network defaultCredentials="false" host="p3smtpout.secureserver.net" password="5calls2day" userName="sales@lucomputers.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.7.0" newVersion="6.10.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>