<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="beginHour" value="6"/>
    <add key="endHour" value="10"/>
    <add key="intervalSecond" value="500"/>
    <!--<add key="tmpSavePath" value="C:\Documents and Settings\All Users\Desktop"/>-->
    <add key="tmpSavePath" value="C:\Users\WU\Documents\PriceStore\"/>
    <add key="AutoRun" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="LU" connectionString="Server=localhost;Database=nicklu2;User ID=root;Password=1234qwer;allow zero datetime=true;"/>
    <add name="nicklu2Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1234qwer;persistsecurityinfo=True;database=nicklu2&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
