<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="EbayDevID" value="136386be-a90b-42b1-90c9-7f0d57d658b6"/>
    <add key="EbayAppID" value="wuth03d43-1c70-4b36-8e2d-1b247226ad1"/>
    <add key="EbayCertID" value="f17425d7-d649-400a-b552-8c69b4f0e38e"/>
    <add key="EbayServerUrl" value="https://api.ebay.com/ws/api.dll"/>
    <!-- For Production set the ServerURL value to https://api.ebay.com/wsapi-->
    <add key="EbayUserToken" value="AgAAAA**AQAAAA**aAAAAA**EzkDYg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFmIKhAJSFpQudj6x9nY+seQ**KdYAAA**AAMAAA**yf2ANChOxxPyeY8S/wyX32BgSKbAsNczKoKaTkhAzL0sLRMKktBeIG2JqlWVwj12yTp4HCZDNUwGvJ35VfAl2fcX1HQjCkGJsBqFGgUafZJxlYBgfQO2vOa/QuCgP+OHcLrAGQTZX3fbasvL1d1Y6vt3W2bv2HptScY2ekdmbnDZ/3niQTTfwjvuVEE0nKeB64K60ihOThZj5nPwA5+Txt1rIpLaVpkpE1bXx3abkD7YT2Y0d3EJ5Dyx+hhsDtQWxbpYC0CzB8tV4zBzdD24zLZGEtiwiIeaaG4cOVHw4ntrH0WGYIb6rCeXkbfNQgcu1HNEsgPRbARuxHO/tRzA9IZoK4OYjz6JqrPtgntdSJkT8JF+S4q/qqCpzE7jPMMVAOUz6eRy0odv6OLhKeiIkOYic6xTkslyoWFzE3zaCjHm869o6z3GMXIm372WAJ2Kz90mELcSRmFd9xM68wdwIRDzU6IKmoqnQoa2VfjkpnNqzqesWchGUZn8xuCKtYW2AP2w6L5ZWtJmze0xECHZfWHQ7hoeDnXtA0U2dGPMjrTNbjDZCzt0PvXEJqw+zirXPytNqNvJErJz3J3VcdUDwLXXkP13DuT5NxeCDEDlE+yKU6SoKNfAQaGw9PL3o1XXXKEi8hCZAtqctxc1n7fKOAvVwqcc5e2voRrilSl7RTRsLeEfhVshMhtYzsnQAgXNGRe565jmB7IGii6i56+T8bj5yB49lP/pO5T52Cpn+YuMfvtzDff5FPvINgJE0855"/>
    <add key="EbaySiteID" value="2"/>
    <add key="DownDays" value="3"/>
    <add key="DownloadTimes" value="103000|113000|123000|133000|143000|153000|163000|100000|083000|093000"/>
    <add key="WatchPath" value="C:\Workspaces\Web\ebay\watchs"/>
    <add key="GetSellerTransactionsNumberOfDays" value="3"/>
    <add key="generatePartHtmlFileStorePath" value="C:\Workspaces\Web\"/>
    <add key="generatePartHtmlHost" value="http://manager.lucomputers.com/"/>
    <add key="PriceAppGeneratePartHtml" value="http://www.51ccoe.com/"/>
    <add key="PriceAppGeneratePartHtmlSourcePath" value="C:\Workspaces\Web\Part_Comment\"/>
    <add key="PriceAppGeneratePartHtmlToPath" value="C:\Workspaces\Qiozi\Web\Parts_comment\"/>
    <add key="PriceAppGeneratePartHtmlPartDetail" value="C:\Workspaces\Qiozi\Web\templete\detail.html"/>
    <add key="PriceAppGeneratePartHtmlPartDetailToPath" value="C:\Workspaces\Qiozi\Web\parts\"/>
    <add key="PriceAppGeneratePartIndexPageStorePath" value="C:\Workspaces\Qiozi\Web\PageIndex\"/>
    <add key="PriceAppGeneratePartIndexPageTempleteFile" value="C:\Workspaces\Qiozi\Web\templete\index_part.html"/>
    <add key="PriceAppGeneratePartBannerSkuStorePath" value="C:\Workspaces\Qiozi\Web\banner\skus\"/>
    <add key="PriceAppGeneratePartHtmlIndexPageTempleteFile" value="C:\Workspaces\Qiozi\Web\templete\index.html"/>
    <add key="SysDocuments" value="C:\Workspaces\SysDocuments\"/>
    <!-- 新网站商品明细文件存储路径 -->
    <add key="NewSitePricePartHtmlStorePath" value="C:\Workspaces\Web1.0\Computer\parts_detail\"/>
  </appSettings>
  <connectionStrings>
    <add name="LU" connectionString="Server=localhost;Database=nicklu2;User ID=root;Password=root;allow zero datetime=true;"/>
    <add name="nicklu2Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=nicklu2&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
