<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="EbayDevID" value="136386be-a90b-42b1-90c9-7f0d57d658b6" />
    <add key="EbayAppID" value="wuth03d43-1c70-4b36-8e2d-1b247226ad1" />
    <add key="EbayCertID" value="f17425d7-d649-400a-b552-8c69b4f0e38e" />
    <add key="EbayServerUrl" value="https://api.ebay.com/ws/api.dll" />
    <!-- For Production set the ServerURL value to https://api.ebay.com/wsapi-->
    <add key="EbayUserToken" value="AgAAAA**AQAAAA**aAAAAA**b3EEXw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFmIKhAJSFpQudj6x9nY+seQ**KdYAAA**AAMAAA**nXEXpj6KuzNqxO2vSuDa/fB3ah0phdkTTbc7GatfAPwnC6Jn2rD2L2cazeW48vNPM24yaFaCzA0aU8prFIgXI+WZNyj/13DynG8iose2fGNt1fN5qP/4AeHTqBNS3Rk7MJxHSK+OuszaFAsNwJIHmuGYIx+gPsylmAFpr8v0i6XORQYsOYwr2xNQrQaYj20TXIQ8bqr0zE1DLfAq27JFyZhlRbWtdd3dWhnavc0D8kBUeLDbQw18RxGfPtC2+sAL50ZzJ9yiIj3qLcNcG3m8kx1kko0FrrbWi5+xAoJL6Ig4oxZyXGkQKY3vbPpM3S9pCgoQ62+nqSNAy8QzBmA1Ik3urpkAViYC8PDCrVYXyj1HgghBz8rKZCewws01wmakh/knHJ/4sTkL42UFb3Pvz6F2SqDINWnM2+3zeGZkwdLKNnVrc8skfgzW5cHPUV6I+dQ88qUBrybONLqydVayd75oKZ53TiuIRhsCQlRulpYUTuPZZic7Aer4NenoxEawqIp8CYFFjAdLLlZ9HstyVaxUJKMliC5xdfCuRuTKShWRHSkTEXcsYcs7S+8BUUhBrK+yebl0sVnCwt/ex37Z9o6fJuAFzgeHlfX6EWaty5z8zV2WTEzYu0bw7J5aKN0nHmdFlaOYZzAYyZhThoIN20HsH7JJbGOUL/LyCkRjty4jge0mGQhIuVU96gLRsynS9ydkCLNKlfbAfQxyuqLnCdU8Uhxl5cUvWUXsZ/JQo6g7qX5o++r0j96LSuBiIS7O" />
    <add key="EbaySiteID" value="2" />
    <add key="DownDays" value="3" />
    <add key="DownloadTimes" value="103000|113000|123000|133000|143000|153000|163000|100000|083000|093000" />
    <add key="WatchPath" value="C:\Workspaces\Web\ebay\watchs" />
    <add key="GetSellerTransactionsNumberOfDays" value="3" />
    <add key="generatePartHtmlFileStorePath" value="C:\Workspaces\Web\" />
    <add key="generatePartHtmlHost" value="http://manager.lucomputers.com/" />
    <add key="PriceAppGeneratePartHtml" value="http://www.51ccoe.com/" />
    <add key="PriceAppGeneratePartHtmlSourcePath" value="C:\Workspaces\Web\Part_Comment\" />
    <add key="PriceAppGeneratePartHtmlToPath" value="C:\Workspaces\Qiozi\Web\Parts_comment\" />
    <add key="PriceAppGeneratePartHtmlPartDetail" value="C:\Workspaces\Qiozi\Web\templete\detail.html" />
    <add key="PriceAppGeneratePartHtmlPartDetailToPath" value="C:\Workspaces\Qiozi\Web\parts\" />
    <add key="PriceAppGeneratePartIndexPageStorePath" value="C:\Workspaces\Qiozi\Web\PageIndex\" />
    <add key="PriceAppGeneratePartIndexPageTempleteFile" value="C:\Workspaces\Qiozi\Web\templete\index_part.html" />
    <add key="PriceAppGeneratePartBannerSkuStorePath" value="C:\Workspaces\Qiozi\Web\banner\skus\" />
    <add key="PriceAppGeneratePartHtmlIndexPageTempleteFile" value="C:\Workspaces\Qiozi\Web\templete\index.html" />
    <add key="SysDocuments" value="C:\Workspaces\SysDocuments\"/>
    <!-- 新网站商品明细文件存储路径 -->
    <add key="NewSitePricePartHtmlStorePath" value="C:\Workspaces\Web1.0\Computer\parts_detail\" />
  </appSettings>
  <connectionStrings>
    <add name="LU" connectionString="Server=luMysql;Database=nicklu2;User ID=root;Password=1234qwer;allow zero datetime=true;" />
    <add name="nicklu2Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=luMysql;user id=root;password=1234qwer;persistsecurityinfo=True;database=nicklu2&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>