.swiper-container.slider .swiper-pagination-bullet {
  width: 12pt;
  height: 12pt;
  background-color: #fff;
  opacity: 0.2;
}
.swiper-container.slider .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 0.8;
}
.swiper-container.slider .swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-container.hmenu .swiper-button-prev,
.swiper-container.hmenu .swiper-button-next {
  background: none;
  position: absolute;
  top: 50%;
  margin: -2.5em 0 0 0;
  padding: 0;
  width: 2.5em;
  height: 5em;
  line-height: 5em;
  text-align: center;
  font-size: 1.4em;
  color: #000;
  z-index: 10;
}
.swiper-container.hmenu .swiper-button-prev > i,
.swiper-container.hmenu .swiper-button-next > i {
  vertical-align: middle;
}
.swiper-container.hmenu .swiper-button-prev.swiper-button-disabled,
.swiper-container.hmenu .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-container.hmenu .swiper-button-prev,
.swiper-container.hmenu .swiper-container-rtl .swiper-button-next {
  background-image: -webkit-linear-gradient(left, #fff, #fff 50%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, #fff, #fff 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, #fff, #fff 50%, rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#00ffffff', GradientType=1);
  left: 0;
  right: auto;
  text-align: left;
}
.swiper-container.hmenu .swiper-button-next,
.swiper-container.hmenu .swiper-container-rtl .swiper-button-prev {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff 50%, #fff);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #fff 50%, #fff);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 50%, #fff);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=1);
  right: 0;
  left: auto;
  text-align: right;
}
.swiper-container.hmenu .swiper-slide {
  display: block;
  height: 5em;
  line-height: 5em;
  padding: 0 1.875em;
  text-align: center;
  width: 12em;
}
.swiper-container.hmenu .swiper-slide > span {
  display: inline-block;
  line-height: 1.4em;
  vertical-align: middle;
}