<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <link href="//lu.com/Content/eBaySpec.min.css" type="text/css" rel="stylesheet">
    <div class="lu-spec-content">

        <div class="page-main">
            <div>
                <div class="main-model shadaow10">
                    <div class="lu-spec-title">
                        LU Computers SKU#: <strong>23239</strong>
                        <div class="floatRight fontSize1">
                            MFP#: <strong>CROSSHAIR V FORMULA-Z</strong>
                        </div>
                    </div>
                    <div class="spec-comment">
                        ASUS SKT.AM3+ AMD 990FX/SB950 3XPCI-E 2.0 X16 4D.DDR3 1600MH 8X SATA 6GB/S SLI/CRSFIREX ATX
                        <p class="lu-spec-warn-note">
                            The warranty is provided by manfacturer directly.<br> <img src="https://www.lucomputers.com/images/logo/logo_asus.jpg">
                        </p>
                    </div>
                </div>
                <div class="main-model borderRadius10 txtCenter shadaow10 lu-spec-fixed">
                    <div class="spec-logo-image-list-area">
                        <div class="spec-logo-item">
                            <img class="spec-logo-item-img-sm " src="https://www.lucomputers.com/pro_img/source_components/23239.jpg">
                        </div>
                        <div class="spec-logo-item">
                            <img class="spec-logo-item-img-sm " src="https://www.lucomputers.com/pro_img/source_components/23239.jpg">
                        </div>
                        <div class="spec-logo-item">
                            <img class="spec-logo-item-img-sm " src="https://www.lucomputers.com/pro_img/source_components/23239.jpg">
                        </div>                      
                    </div>
                    <!--<img src="https://www.lucomputers.com/pro_img/source_components/23239.jpg" style="width:100%; max-width:600px;">-->
                </div>
                <div class="main-model pd box shadaow10">
                    <div class="item">
                        <div class="small-area pd">
                            <div class="txtCenter">
                                <img src="//www.lucomputers.com/images/ebay-templates/warn.png" style="width:180px;margin-top:10px;">
                            </div>
                            <h4 class="txtCenter">International Buyers - Please Note:</h4>

                            US buyers are tax and duty free, no additional fees. Import duties, taxes, and charges are not included in the item price
                            or shipping cost. These charges are the buyer's responsibility. Please check with your country's customs
                            office to determine what these additional costs will be prior to bidding or buying.
                        </div>
                        <div class=" small-area pd">
                            <div class="txtCenter">
                                <img src="//www.lucomputers.com/images/ebay-templates/concat.png">
                            </div>
                            <h4 class="txtCenter"> CONTACT US</h4>
                            Please call: 1866.999.7828 1416.446.7743
                            <p>
                                EMAIL Please use eBay email "Ask a question" for questions and technical support
                            </p>
                        </div>
                    </div>
                    <div class="item pd">
                        <div class="txtCenter">
                            <img src="//www.lucomputers.com/images/ebay-templates/aboutus.png">
                        </div>
                        <h4 class="txtCenter">ABOUT ME</h4>
                        <p class="txtColor">
                            <img src="http://www.lucomputers.com/ebay/newebaytemplate/store200.jpg" style="float:left;margin-right:1rem;" />
                            LU Computers is an established company providing computers and parts to home users and businesses in the US and Canada.&nbsp;
                            Based in Toronto and New York, we aim at delivering fast and courteous service to our customers.
                        </p>
                        <p class="txtColor">
                            With our hard working, dedication and efficient operation, our sales volume has been increasing tremendously year after year,
                            which permits us to establish ties with manufacturers and negotiate prices with vendors. This price benefit
                            is passed right on to you, our customers.
                        </p>
                        <p class="txtColor">
                            Our technical team is made of professional enthusiasts who are on the cutting edge of computing, and bring you the latest
                            technology and stay tuned to what is the hot.&nbsp; Being a dedicated computer builder since 1993, our
                            accumulated knowledge enables us to deliver effective and prompt technical support.
                        </p>
                        <p class="txtColor">
                            LU Computers only stocks brand new and top quality name brand products. When you receive your dream PC, high-end or just
                            "bare-bone", it is fully assembled, tested and well packed in our manufactory facility with 100-feet
                            state-of-art computer assembly line. We stock adequate items to ensure prompt shipment.
                        </p>
                        <p class="txtColor">
                            LU Computers provides toll free lifetime support in addition to our standard warranty. We stand behind the products we sell,
                            and if a problem arises after delivery we will take the necessary action to ensure the matter is resolved.
                            We will do this fairly and professionally.

                        </p>
                    </div>
                </div>
                <div class="main-model shadaow10 ">
                    <div class="lu-spec-title2" style="color:#ff6a00">
                        Product Infomation
                    </div>
                    <div class="spec-comment">
                        <table class="noULStyle" border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 8.5">
                            <tbody>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Upgraded 990FX motherboard with exclusive ROG gaming audio and networking technologies</strong> <br>
                                                        <br>
                                                        <ul>
                                                            <li>Extreme Engine Digi+ II -- Powerful combination of analog and digital design elements</li>
                                                            <li>SupremeFX III -- Play with ultra-real cinematic in-game surround sound!</li>
                                                            <li>GameFirst II-- Put your frags first</li>
                                                            <li>3-Way NIVDIA® SLI™ / AMD CrossFireX™ Technology</li>
                                                            <li>Intel® Gigabit LAN -- Experience the fast network connectivity!</li>
                                                            <li>UEFI BIOS -- Flexible &amp; Easy BIOS Interface</li>
                                                            <li>Supercharged Audio and Ultrafast LAN</li>
                                                            <li><lucomputer href="http://event.asus.com/mb/windows_8/" target="_blank">Windows 8 Ready – Assured Compatibility</lucomputer> </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="8"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td height="21" width="21">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="21">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="3" height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="5"></td>
                                                                    <td bgcolor="#bbe87d" height="8" width="8"></td>
                                                                    <td width="8"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" height="10"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="title-02"><strong><font color="#F25413" size="2"><strong><font color="#F25413" size="2">Specifications</font></strong></font></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="4" cellspacing="1" bgcolor="#CCCCCC">
                                            <tbody>
                                                <tr>
                                                    <td width="140" bgcolor="#FFFFFF">CPU</td>
                                                    <td width="406" bgcolor="#FFFFFF">
                                                        AMD AM3+ FX™/Phenom™ II/Athlon™ II/Sempron™ 100 Series Processors <br>
                                                        Supports AM3+ 32 nm CPU<br>
                                                        Supports CPU up to 8  cores<br>
                                                        Supports CPU up to 140 W<br>
                                                        AMD Cool 'n' Quiet™ Technology
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Chipset</td>
                                                    <td bgcolor="#FFFFFF">AMD 990FX/SB950</td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Memory</td>
                                                    <td bgcolor="#FFFFFF">
                                                        4 x DIMM, Max. 32GB, DDR3 2400(O.C.)/2133(O.C.)/2000(O.C.)/1800(O.C.)/1600/1333<br>
                                                        /1066 MHz ECC, Non-ECC, Un-buffered Memory<br>
                                                        Dual Channel Memory Architecture<br>
                                                        * Refer to <lucomputer href="http://www.asus.com">www.asus.com</lucomputer> or user manual for the Memory QVL (Qualified Vendors Lists).<br>
                                                        *   Due to OS limitation, when installing total memory of 4GB capacity or   more, Windows® 32-bit operation system may only recognize less than 3GB.   Install a 64-bit Windows® OS when you want to install 4GB or more   memory on the motherboard.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">System Bus</td>
                                                    <td bgcolor="#FFFFFF">Up to 5.2 GT/s HyperTransport™ 3.0 </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Multi-GPU Support</td>
                                                    <td bgcolor="#FFFFFF">
                                                        Supports NVIDIA® Quad-GPU SLI™ Technology <br>
                                                        Supports NVIDIA® 3-Way SLI™ Technology<br>
                                                        Supports AMD 3-Way CrossFireX™ Technology
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Expansion Slots</td>
                                                    <td bgcolor="#FFFFFF">
                                                        3 x PCIe 2.0 x16 (dual x16 or x16/x8/x8) <br>
                                                        1 x PCIe 2.0 x16 (x4 mode) <br>
                                                        2 x PCIe 2.0 x1
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Storage</td>
                                                    <td bgcolor="#FFFFFF">
                                                        <strong>AMD SB950 controller : </strong><br>
                                                        6 x SATA 6Gb/s port(s), red<br>
                                                        Support Raid 0, 1, 5, 10<br>
                                                        <strong>ASMedia® ASM1061 controller : </strong><br>
                                                        2 x SATA 6Gb/s port(s), red<br>
                                                        2 x eSATA 6Gb/s port(s), red
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">LAN</td>
                                                    <td bgcolor="#FFFFFF">Intel®, 1 x Gigabit LAN Controller(s)</td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Audio</td>
                                                    <td bgcolor="#FFFFFF">
                                                        SupremeFX III built-in 8-Channel High Definition Audio CODEC <br>
                                                        - Supports : Jack-detection, Multi-streaming, Front Panel Jack-retasking<br>
                                                        <strong>Audio Feature :</strong><br>
                                                        - SupremeFX Shielding™ Technology<br>
                                                        - 1500 uF Audio Power Capacitor<br>
                                                        - Gold-plated jacks<br>
                                                        - Blu-ray audio layer Content Protection&nbsp;<br>
                                                        - DTS Ultra PC II<br>
                                                        - DTS Connect<br>
                                                        - Optical S/PDIF out port(s) at back panel
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">USB Ports</td>
                                                    <td bgcolor="#FFFFFF">
                                                        <strong>ASMedia® USB 3.0 controller :</strong> <br>
                                                        6 x USB 3.0 port(s) (4 at back panel, blue, 2 at mid-board)<br>
                                                        <strong>AMD SB950 controller :</strong> <br>
                                                        12 x USB 2.0 port(s) (8 at back panel, black+white, 4 at mid-board)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Overclocking Features</td>
                                                    <td bgcolor="#FFFFFF">
                                                        <strong>ROG Connect :</strong><br>
                                                        - RC Diagram<br>
                                                        - RC Remote<br>
                                                        - RC Poster<br>
                                                        - GPU TweakIt<br>
                                                        <strong>Extreme Engine Digi+ II :</strong><br>
                                                        - 8  + 2  phase power design<br>
                                                        - 2 -phase Memory power design<br>
                                                        <strong>UEFI BIOS features :</strong><br>
                                                        - ROG BIOS Print<br>
                                                        - GPU.DIMM Post<br>
                                                        <strong>GameFirst</strong><br>
                                                        <strong>iROG</strong><br>
                                                        <strong>Extreme Tweaker</strong><br>
                                                        <strong>Overclocking Protection :</strong><br>
                                                        - COP EX (Component Overheat Protection - EX)<br>
                                                        - ASUS C.P.R.(CPU Parameter Recall)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Special Features</td>
                                                    <td bgcolor="#FFFFFF">
                                                        <strong>ASUS Power Design :</strong><br>
                                                        - ASUS EPU <br>
                                                        <strong>TurboV</strong><br>
                                                        <strong>Core Unlocker</strong><br>
                                                        <strong>ASUS Exclusive Features</strong> :<br>
                                                        - AI Suite II<br>
                                                        - Ai Charger+<br>
                                                        - USB 3.0 Boost<br>
                                                        - Disk Unlocker<br>
                                                        <strong>ASUS Quiet Thermal Solution</strong> :<br>
                                                        - ASUS Fan Xpert <br>
                                                        <strong>ASUS EZ DIY :</strong><br>
                                                        - ASUS O.C. Profile<br>
                                                        - ASUS CrashFree BIOS 3 <br>
                                                        - ASUS EZ Flash 2 <br>
                                                        - ASUS MyLogo 3 <br>
                                                        <strong>ASUS Q-Design :</strong><br>
                                                        - ASUS Q-Shield<br>
                                                        - ASUS Q-Code<br>
                                                        - ASUS Q-LED (CPU, DRAM, VGA, Boot Device LED)<br>
                                                        - ASUS Q-Slot<br>
                                                        - ASUS Q-DIMM <br>
                                                        - ASUS Q-Connector
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Back I/O Ports</td>
                                                    <td bgcolor="#FFFFFF">
                                                        1 x PS/2 keyboard/mouse combo port(s)<br>
                                                        2 x eSATA 6Gb/s<br>
                                                        1 x LAN (RJ45) port(s)<br>
                                                        4 x USB 3.0 <br>
                                                        8 x USB 2.0 (one port can be switched to ROG Connect)<br>
                                                        1 x Optical S/PDIF out<br>
                                                        6 x Audio jack(s)<br>
                                                        1 x Clear CMOS button(s)<br>
                                                        1 x ROG Connect On/ Off switch(es)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Internal I/O Ports</td>
                                                    <td bgcolor="#FFFFFF">
                                                        1 x USB 3.0 connector(s) support(s) additional 2 USB 3.0 port(s) <br>
                                                        2 x USB 2.0 connector(s) support(s) additional 4 USB 2.0 port(s)<br>
                                                        1 x TPM connector(s) <br>
                                                        8 x SATA 6Gb/s connector(s)<br>
                                                        2 x CPU Fan connector(s) <br>
                                                        3 x Chassis Fan connector(s) <br>
                                                        3 x Optional Fan connector(s) <br>
                                                        1 x S/PDIF out header(s)<br>
                                                        1 x 24-pin EATX Power connector(s)<br>
                                                        1 x 8-pin ATX 12V Power connector(s)<br>
                                                        1 x 4-pin ATX 12V Power connector(s)<br>
                                                        1 x Front panel audio connector(s) (AAFP)<br>
                                                        1 x System panel(s) <br>
                                                        1 x DirectKey Button(s)<br>
                                                        1 x DRCT header(s)<br>
                                                        8 x ProbeIt Measurement Points<br>
                                                        3 x Thermal sensor connector(s)<br>
                                                        1 x EZ Plug connector(s) (4-pin Molex power connector)<br>
                                                        1 x Power-on button(s)<br>
                                                        1 x Reset button(s)<br>
                                                        1 x Go Button(s)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Accessories</td>
                                                    <td bgcolor="#FFFFFF">
                                                        User's manual<br>
                                                        I/O Shield<br>
                                                        6 x SATA 6Gb/s cable(s)<br>
                                                        1 x 3-Way SLI bridge(s)<br>
                                                        1 x SLI bridge(s)<br>
                                                        1 x CrossFire cable(s)<br>
                                                        1 x Q-connector(s) (2 in 1) <br>
                                                        1 x ROG Connect cable(s)<br>
                                                        1 x 12 in 1 ROG Cable Label(s)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">BIOS</td>
                                                    <td bgcolor="#FFFFFF">64Mb Flash ROM, UEFI BIOS, PnP, DMI2.0, WfM2.0, SM BIOS 2.5, ACPI2.0a, Multi-Language BIOS</td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Manageability</td>
                                                    <td bgcolor="#FFFFFF">WOL by PME, WOR by PME, PXE</td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Support Disc</td>
                                                    <td bgcolor="#FFFFFF">
                                                        Drivers<br>
                                                        GameFirst II<br>
                                                        Kaspersky® Anti-Virus<br>
                                                        DAEMON Tools Pro Standard<br>
                                                        ROG CPU-Z<br>
                                                        ASUS WebStorage<br>
                                                        ASUS Utilities (AI SUITE II/TurboV EVO/ASUS Update)<br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#FFFFFF">Form Factor</td>
                                                    <td bgcolor="#FFFFFF">
                                                        ATX Form Factor <br>
                                                        12  inch x 9.6  inch ( 30.5  cm x 24.4  cm )
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td height="10" colspan="2"></td>
                                                </tr>
                                                <tr>
                                                    <td height="21" width="21">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="21">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="3" height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="5"></td>
                                                                    <td bgcolor="#bbe87d" height="8" width="8"></td>
                                                                    <td width="8"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" height="10"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="title-02"><strong><font color="#F25413" size="2">Features</font></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td height="25">
                                                        <div id="product_content_area">
                                                            <div id="overview">
                                                                <span id="ctl00_ContentPlaceHolder1_ctl00_overview1_span_overview">
                                                                    <p>
                                                                        The   Republic of Gamers consists only the best of the best. We offer the   best hardware engineering, the fastest performance, the most innovating   ideas, and we welcome the best gamers to join in. In the Republic of   Gamers, mercy rules are only for the weak, and bragging rights means   everything. We believe in making statements and we excel in   competitions. If your character matches our trait, then join the elite   club, make your presence felt, in the Republic of Gamers.<br>
                                                                    </p>
                                                                </span><div>
                                                                    <div>
                                                                        <p class="STYLE1"><span>CPU Features</span></p>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/phenomx4.gif" alt="" align="right" title="phenomx4"><img src="http://www.asus.com/websites/global/images/icons/AMD_FX_CPU.jpg" alt="" align="right" title="AMD FX CPU">FX™/Phenom™ II/Athlon™ II/ Sempron™ 100 Series Processors （AM3+ CPU） </strong></p>
                                                                        <p><span>This   motherboard supports latest AMD® Socket AM3+ multi-core processors with   up to 8 native CPU cores and delivers better overclocking capabilities   with less power consumption. It features AMD® Turbo CORE Technology 2.0   and accelerates data transfer rate up to 5200MT/s via HyperTransport™   3.0 based system bus. This motherboard also supports AMD® CPUs in the   new 32nm manufacturing process.</span></p>
                                                                    </div>
                                                                    <div>
                                                                        <p><strong>Chipset Feature</strong></p>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/AMD_9_Series_Chipset.gif" alt="" align="right" title="AMD 990FX Chipset">AMD 990FX Chipset</strong></p>
                                                                        <p><span>AMD®   990FX Chipset is designed to support up to 5.2GT/s HyperTransport™ 3.0   (HT 3.0) interface speed and dual PCI Express™ 2.0 x16 graphics. It is   optimized with AMD® latest AM3+ and multi-core CPUs to provide excellent   system performance and overclocking capabilities.</span></p>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div>
                                                                        <p class="STYLE2"><span>Multi-GPU Technology</span></p>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/CrossFireX_Silver.jpg" alt="" align="right" title="amd crossfirex"><img src="http://www.asus.com/websites/global/images/icons/new-SLI-logo.gif" alt="" align="right" title="SLI">SLI™/CrossFireX™ On-Demand </strong></p>
                                                                        <p>
                                                                            <span>
                                                                                Why choose when you can have both?<br>
                                                                                SLI™ or CrossFireX™? Fret no longer because with the Crosshair V   Formula-Z you’ll be able to run both multi-GPU setups. The board   features SLI™/CrossFire™ on Demand technology, supporting up to four   graphics cards in a Quad-GPU SLI or 3-Way SLI™ / CrossFireX™   configuration. Whichever path you take, you can be assured of   jaw-dropping graphics at a level previously unseen.
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <p><strong>Memory Feature</strong></p>
                                                                        <p><strong>DDR3 2400(O.C.) Support</strong></p>
                                                                        <p><span>This motherboard supports DDR3 2400(O.C.) that provides faster data   transfer rate and more bandwith to increase memory computing efficiency,   enhancing system performance in 3D graphics and other memory demanding   applications.</span></p>
                                                                    </div>
                                                                </div>
                                                                <span>
                                                                    <p><strong>Sound with Clarity</strong></p>
                                                                    <p><strong>SupremeFX III</strong></p>
                                                                    <p>
                                                                        <strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/SupremeFX.jpg" alt="" align="right" title="SupremeFX X-Fi 2">Supreme Sound</strong><br>
                                                                        The SupremeFX III™ onboard audio solution is an 8-channel HD audio   equipped with a carefully selected 1500uF capacitor which provides   clean, ripple-free audio power and – perfect for enveloping gaming   environments. With a metallic EMI cover and special layout design on the   PCB, advanced SupremeFX Shielding™ technology isolates analog audio   signals from digital sources for exceptional clarity and high fidelity,   while a gold-plated jack ensures rich notes reach your ears with minimal   distortion.
                                                                    </p>
                                                                    <p><strong>ROG Exclusive Features</strong></p>
                                                                </span>
                                                                <div>
                                                                    <div>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/Extreme_Engine.jpg" alt="" align="right" title="Extreme Engine Digi+">Extreme Engine Digi+ II</strong></p>
                                                                        <p>
                                                                            <span>
                                                                                <strong>Powerful combination of analog and digital design elements</strong><br>
                                                                                The Extreme Engine Digi+ II has been upgraded, while the digital VRM   design allows you to achieve ultimate performance with adjustable CPU   and memory power management frequencies. Precise adjustments create   greater efficiency, stability, and performance for total system control.
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/new_rog_connect.gif" alt="" align="right" title="ROG Connect">ROG Connect </strong></p>
                                                                        <p>
                                                                            <span>
                                                                                <strong>Plug and Overclock - Tweak it the hardcore way!</strong><br>
                                                                                Monitor the status of your desktop PC and tweak its parameters in   real-time via a notebook—just like a race car engineer—with ROG Connect.   ROG Connect links your main system to a notebook through a USB cable,   allowing you to view real-time POST code and hardware status readouts on   your notebook, as well as make on-the-fly parameter adjustments at a   purely hardware level.
                                                                            </span>
                                                                        </p>
                                                                    </div>

                                                                    <div>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/new_GameFirst.gif" alt="" align="right" title="GameFirst">GameFirst II</strong></p>
                                                                        <p>
                                                                            <span>
                                                                                <strong>The speed you need to pwn</strong><br>
                                                                                Low Internet latency allows you to frag more, and get fragged less.   That's why ROG has introduced GameFirst, a feature that manages the flow   of traffic according to your needs so that you can still listen to   online music, download and upload files, and engage in Internet chats   without sacrificing the low ping times you need to pwn your opponents.
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/new_CPULevelUp.gif" alt="" align="right" title="CPU Level Up">CPU Level Up</strong></p>
                                                                        <p>
                                                                            <span>
                                                                                <strong>A simple click for instant upgrade!</strong><br>
                                                                                Ever wish that you could have a more expansive CPU? Upgrade your CPU at   no additional cost with ROG's CPU Level Up! Simply pick the processor   you wanted to OC to, and the motherboard will do the rest! See the new   CPU speed and enjoy that performance instantly. Overclocking is never as   easy as this.
                                                                            </span>
                                                                        </p>
                                                                    </div>

                                                                    <div>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/GPU_DIMM_Post.gif" alt="" align="right" title="GPU.DIMM Post">GPU.DIMM Post</strong></p>
                                                                        <p>
                                                                            <span>
                                                                                <strong>Easily check the status of your graphics cards and memory in the BIOS!</strong><br>
                                                                                Notice potential problems even before you enter the OS! Overclockers can   save valuable minutes in detecting component failure under extreme   conditions. With GPU.DIMM Post, quickly and easily check your graphics   cards and memory DIMMs status in the BIOS, potentially keeping that   record-breaking overclock!
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/BIOS_Print.gif" alt="" align="right" title="BIOS Print">BIOS Print</strong></p>
                                                                        <p>
                                                                            <span>
                                                                                <strong>One click, easily share your BIOS settings</strong><br>
                                                                                ROG offers a whole new EFI BIOS feature to handle the demands of an   overclocking experience. Crosshair V Formula-Z features ROG BIOS Print   which allows users to easily share their BIOS settings to others with   the press of a button. The days of using a camera to take BIOS   screenshot are over.
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <span>
                                                                    <p><strong>ROG Bundled</strong></p>
                                                                </span>
                                                                <div>
                                                                    <div>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/ROG_CPUZ.gif" alt="" align="right" title="ROG CPU-Z">ROG CPU-Z</strong></p>
                                                                        <p>
                                                                            <span>
                                                                                <strong>Whole new design of CPU-Z</strong><br>
                                                                                ROG CPU-Z is a customized ROG version authorized by CPUID. It has the   same functionality and credibility as the original version, with a   unique design. Use the whole new look of ROG CPU-Z to truly report your   CPU related information and your uniqueness.
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <p><strong><img src="http://www.asus.com/websites/global/images/icons/k.jpg" alt="" align="right" title="Kaspersky® Anti-Virus">Kaspersky® Anti-Virus </strong></p>
                                                                        <p>
                                                                            <span>
                                                                                <strong>The best protection from viruses and spyware</strong><br>
                                                                                Kaspersky® Anti-Virus Personal offers premium antivirus protection for   individual users and home offices. It is based on advanced antivirus   technologies. The product incorporates the Kaspersky® Anti-Virus engine,   which is renowned for malicious program detection rates that are among   the industry's highest.
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <span>
                                                                    <p><strong><img src="http://www.asus.com/websites/global/images/icons/rog/new/DAEMON_Tools.gif" alt="" align="right" title="DAEMON Tools Pro Standard">DAEMON Tools Pro Standard</strong></p>
                                                                    <p>
                                                                        <strong>The real tool for optical and virtual discs</strong><br>
                                                                        DAEMON Tools Pro offers essential functionality to backup CD, DVD and   Blu-ray discs. It converts optical media into virtual discs and emulates   devices to work with the virtual copies. DAEMON Tools Pro organizes   data, music, video and photo collections on a PC, notebook or netbook.
                                                                    </p>
                                                                    <p><strong>Other Features</strong></p>
                                                                    <p><strong>Intel Gigabit LAN</strong></p>
                                                                    <p>
                                                                        <strong><img src="http://www.asus.com/websites/global/products/KAz3i1jAu9INnglr/Intel_Ethernet.jpg" alt="" align="right" title="Dual Intel Gigabit LAN">Experience the fast network connectivity!</strong><br>
                                                                        The   LAN solution from Intel has been long known to have a better   throughput, lower CPU utilization as well as better stability. With the   Intel Gigabit LAN solution onboard, the ultimate network experience can   therefore be delivered to its users like never before.
                                                                    </p>
                                                                    <p><strong>Crosshair V Formula-Z Product Overview</strong></p>
                                                                    <img src="http://www.asus.com/websites/global/products/KAz3i1jAu9INnglr/motherboard_line.jpg" alt="" title="Crosshair V Formula-Z Product Overview">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="main-model shadaow10 borderRadius10 pd txtCenter">
                    Copyrights © 2004 ~ 2017. Lu Computers. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
