<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <link href="//www.lucomputers.com/Content/eBaySpec.min.css" type="text/css" rel="stylesheet" />
    <div class="lu-spec-content">
        <div class="page-main">          
            <div>
                <div class="main-model shadaow10">
                    <div class="lu-spec-title">
                        LU Computers SKU#: <strong>[lu_web_part_luc_sku]</strong>
                        <div class="floatRight fontSize1">
                            MFP#: <strong>[mfp]</strong>
                        </div>
                    </div>
                    <div class="spec-comment">
                        [lu_web_part_long_name]
                        <p class="lu-spec-warn-note">
                            The warranty is provided by manfacturer directly.<br />
                            [brand-logo]
                        </p>
                    </div>
                </div>
                <div class="main-model borderRadius10 txtCenter shadaow10">
                    <div class="spec-logo-image-list-area">
                        [img-sku]
                    </div>
                </div>
                <div class="main-model pd box shadaow10">
                    <div class="item">
                        <div class="small-area pd">
                            <div class="txtCenter">
                                <img src="//www.lucomputers.com/images/ebay-templates/warn.png" />
                            </div>
                            <h4 class="txtCenter">International Buyers - Please Note:</h4>

                            US buyers are tax and duty free, no additional fees.

                            Import duties, taxes, and charges are not included in the item price or shipping cost. These charges are the buyer's responsibility.

                            Please check with your country's customs office to determine what these additional costs will be prior to bidding or buying.
                        </div>
                        <div class="small-area pd">
                            <div class="txtCenter">
                                <img src="//www.lucomputers.com/images/ebay-templates/concat.png" />
                            </div>
                            <h4 class="txtCenter"> CONTACT US</h4>
                            Please call:
                            1866.999.7828
                            1416.446.7743
                            <p>
                                EMAIL
                                Please use eBay email "Ask a question" for questions and technical support
                            </p>
                        </div>
                    </div>
                    <div class="item pd">
                        <div class="txtCenter">
                            <img src="//www.lucomputers.com/images/ebay-templates/aboutus.png" />
                        </div>
                        <h4 class="txtCenter">ABOUT ME</h4>
                        <p class="txtColor">
                            <img src="http://www.lucomputers.com/ebay/newebaytemplate/store200.jpg" style="float:left;margin-right:1rem;" />
                            LU Computers is an established company providing computers and parts to home
                            users and businesses in the US and Canada.&nbsp; Based in Toronto and New York,
                            we aim at delivering fast and courteous service to our customers.
                        </p>
                        <p class="txtColor">
                            With
                            our hard working, dedication and efficient operation, our sales volume has been
                            increasing tremendously year after year, which permits us to establish ties with
                            manufacturers and negotiate prices with vendors. This price benefit is passed
                            right on to you, our customers.
                        </p>
                        <p class="txtColor">
                            Our technical team is made of
                            professional enthusiasts who are on the cutting edge of computing, and bring you
                            the latest technology and stay tuned to what is the hot.&nbsp; Being a dedicated
                            computer builder since 1993, our accumulated knowledge enables us to deliver
                            effective and prompt technical support.
                        </p>
                        <p class="txtColor">
                            LU Computers only stocks brand
                            new and top quality name brand products. When you receive your dream PC,
                            high-end or just "bare-bone", it is fully assembled, tested and well packed in
                            our manufactory facility with 100-feet state-of-art computer assembly line. We
                            stock adequate items to ensure prompt shipment.
                        </p>
                        <p class="txtColor">
                            LU Computers provides
                            toll free lifetime support in addition to our standard warranty. We stand behind
                            the products we sell, and if a problem arises after delivery we will take the
                            necessary action to ensure the matter is resolved. We will do this fairly and
                            professionally.

                        </p>
                    </div>
                </div>
                <div class="main-model shadaow10 ">
                    <div class="lu-spec-title2" style="color:#ff6a00">
                        Product Infomation
                    </div>
                    <div class="spec-comment">
                        [lu_web_info_row]
                    </div>
                </div>
                <div class="main-model shadaow10 borderRadius10 pd txtCenter">
                    [Copyrights]
                </div>
            </div>
        </div>
    </div>
</body>
</html>
