
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="topOnSaleButtonArea">
    <p class="text-center">
        <a class="btn btn-link" href="/OnSales.aspx" style="font-size:1.5rem;">
            <span class="glyphicon glyphicon-star"></span>
            On Sales
        </a>
        <b>|</b>
        <a class="btn btn-link" href="/Rebate.aspx" style="font-size:1.5rem;">
            <span class="glyphicon glyphicon-list"></span>
            Rebate
        </a>
    </p>
</div>
