
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<md-toolbar class="md-theme-indigo" flex style="position: fixed;height:56px;max-height:56px; z-index: 100;">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Settings" hide-gt-md>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-meun"></use>
            </svg>
        </md-button>
        <h2 class="md-toolbar-tools"><span ng-if="screenIsSmall">Computer & </span><span ng-if="!screenIsSmall">PC & </span> Specifications</h2>
    </div>
</md-toolbar>
<div layout="column" flex>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" flex md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <md-content layout-padding>
                <md-button class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p hide show-gt-md>
                    <div>
                        <md-button class="md-fab md-primary" ng-repeat="x in $root.cates" ui-sref="home({cid:x.Id})">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="{{x.IconName | htmlContent}}"></use>
                            </svg>
                        </md-button>
                    </div>
                </p>
            </md-content>
        </md-sidenav>
        <div style="padding-top:56px;" layout="row" flex>
            <md-content class="whiteframedemoBasicClassUsage" layout="row" layout-padding layout-wrap style="padding-bottom: 32px;">
                <md-whiteframe class="md-whiteframe-1dp" flex-sm="25" flex-gt-sm="25" flex-gt-md="15" layout layout-align="center center"
                               ng-repeat="x in products" ui-sref="detail({cid: x.CateId, sku: x.Sku})">
                    <div style="height:100%; width:100%; background: white; overflow: hidden;padding:10px;">
                        <div style="text-align: center;">
                            <img lazy-img="{{x.Avatar}}" src='https://www.lucomputers.com/pro_img/components/999999_list_1.jpg'>
                        </div>
                        <h3 style="margin:0; padding:0;margin-bottom: 5px; overflow: hidden;">
                            {{ x.Brand }}
                        </h3>
                        <div style="border-top:1px solid #ccc; padding-top:8px;">
                            <div style="color:green;font-weight: bold;margin-bottom:5px;">MFP: {{x.MFP}}</div>
                            <div>{{ x.ProduName }}</div>
                        </div>
                    </div>
                </md-whiteframe>
            </md-content>
        </div>
    </section>
</div>

