<div id="page-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xm-0 col-md-3">
                <ul>
                    <li class="text-left">
                        <a href="/bAboutUs.aspx">
                            <i class="iconfont">&#xe639;</i> About US
                        </a>
                    </li>
                    <li>
                        <a href="/bContactUs.aspx">
                            <i class="glyphicon glyphicon-earphone"></i> Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xm-0 col-md-3">
                <ul>
                    <li>
                        <a href="/bGeneralFaq.aspx">
                            <i class="iconfont">&#xe620;</i> General FAQ
                        </a>
                    </li>
                    <li>
                        <a href="/bWarrantyFaq.aspx">
                            <i class="iconfont">&#xe620;</i> Warranty FAQ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xm-0 col-md-3">
                <ul>
                    <li>
                        <a href="/bManufacturers.aspx">
                            <i class="iconfont">&#xe64a;</i> Manufacturers
                        </a>
                    </li>
                    <li>
                        <a href="/bContacts.aspx">
                            <i class="iconfont">&#xe64e;</i> Contacts
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xm-0 col-md-3">
                <ul>
                    <li>
                        <a href="/bCompanyPolicy.aspx">
                            <i class="iconfont">&#xe632;</i> Company Policy
                        </a>
                    </li>
                    <li>
                        <a href="/bPaymentMethods.aspx">
                            <i class="iconfont">&#xe6d6;</i> Payment Methods
                        </a>
                    </li>
                    <li>
                        <a href="/bPrivacySecurity.aspx">
                            <i class="iconfont">&#xe632;</i> Privacy Security
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr size="1" style="border-top: 1px solid #555;" />
        <center>
            @if (false)
            {
                <script src="https://seal.godaddy.com/getSeal?sealID=m1rXgddaupGKJemjFI0QslvJUzAlm8xCPKQIS8YF5EQySbD7W50Rjths2lK"></script>
            }

        </center>
        <footer class="txtColorWhite text-center">
            <p>Copyrights &copy; 2004 - @DateTime.Now.Year - Lu Computers. All rights reserved.</p>
        </footer>
    </div>
</div>
