
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1482770684100'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1482770684100#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1482770684100') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1482770684100') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1482770684100#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuji:before { content: "\e600"; }

.icon-diannao:before { content: "\e601"; }

.icon-power:before { content: "\e602"; }

.icon-group:before { content: "\e715"; }

.icon-group1:before { content: "\e639"; }

.icon-fengshan:before { content: "\e603"; }

.icon-fujian:before { content: "\e604"; }

.icon-icomoon:before { content: "\e605"; }

.icon-xianqia:before { content: "\e606"; }

.icon-wangqia:before { content: "\e607"; }

.icon-yinxiang:before { content: "\e608"; }

.icon-sale:before { content: "\e658"; }

.icon-xianshiqi:before { content: "\e609"; }

.icon-brand:before { content: "\e713"; }

.icon-more:before { content: "\e660"; }

.icon-ruanjian:before { content: "\e60a"; }

.icon-yinxiang1:before { content: "\e60b"; }

.icon-brand3:before { content: "\e61e"; }

.icon-brand1:before { content: "\e61f"; }

.icon-brand2:before { content: "\e633"; }

.icon-icon-privacy:before { content: "\e632"; }

.icon-sale1:before { content: "\e621"; }

.icon-cpu:before { content: "\e60c"; }

.icon-cpu1:before { content: "\e60d"; }

.icon-print:before { content: "\e60e"; }

.icon-jianpan:before { content: "\e60f"; }

.icon-r:before { content: "\e6a5"; }

.icon-gps:before { content: "\e610"; }

.icon-icon2:before { content: "\e611"; }

.icon-faq:before { content: "\e620"; }

.icon-diannao1:before { content: "\e612"; }

.icon-pingban:before { content: "\e613"; }

.icon-brand4:before { content: "\e64e"; }

.icon-ups:before { content: "\e614"; }

.icon-diskhdd:before { content: "\e615"; }

.icon-sd:before { content: "\e616"; }

.icon-usb:before { content: "\e617"; }

.icon-shexiangtou:before { content: "\e618"; }

.icon-guangpan01:before { content: "\e619"; }

.icon-sale2:before { content: "\e622"; }

.icon-diannao2:before { content: "\e61a"; }

.icon-1f:before { content: "\e61b"; }

.icon-2f:before { content: "\e61c"; }

.icon-iconzhekou:before { content: "\e623"; }

.icon-cpu64:before { content: "\e61d"; }

.icon-R:before { content: "\e9da"; }

.icon-pay:before { content: "\e6d6"; }

.icon-R1:before { content: "\e668"; }

.icon-brand5:before { content: "\e64a"; }

.icon-Rebate:before { content: "\e624"; }

